<div class="row text-center">
<ul class="pagination pagination-lg pagination-centered">
  {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&larr; Previous</a></li>
  {% else %}
    <li class="disabled"><a href="#">&larr; Previous</a></li>
  {% endif %}
  {% for page in page_obj.paginator.page_range %}
    {% if page == page_obj.number %}
    <li class="active"><span>{{ page }}<span class="sr-only">(current)</span></span></a></li>
    {% else %}
    <li><a href="?page={{ page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">Next &rarr;</a>
  {% else %}
    <li class="disabled"><a href="#">Next &rarr;</a></li>
  {% endif %}
</ul>
</div>
