{% extends "base.html" %}

{% block page_title %}Items{% endblock %}

{% block content %}
<table class="table">
  <tr>
    <th>Item ID</th>
    <th>Item Age</th>
    <th>Batch ID</th>
  </tr>
  {% for item in object_list %}
  <tr>
    <td><a class="btn btn-primary btn-block" href="{{ item.get_absolute_url }}">{{ item }}</a></td>
    <td>{{ item.item_age }} days</td>
    <td>Batch {{ item.batch }}</td>   
  </tr>
  {% endfor %}
</table>

{% if is_paginated %}
  {% include "includes/pagination.html" %}
{% endif %}

{% endblock content %}
