{% extends "base.html" %}

{% block page_title %}Employees{% endblock %}

{% block content %}
<table class="table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  {% for employee in employee_list %}
  <tr>
    <td><a href="{{ supplier.get_absolute_url }}">{{ employee }}</a></td>
    <td>{{ employee.address }}</td>
    <td>{{ employee.phone }}</td>
    <td>{{ employee.email }}</td>   
  </tr>
  {% endfor %}
</table>

{% if is_paginated %}
  {% include "traceability/includes/pagination.html" %}
{% endif %}

{% endblock %}

